@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #EBE9E6;
    margin: 0px;
}

.headerrow {
    background: #FCFAFA;
    /* border: 1px solid black; */
    margin: auto;
    /* height: 72px; */
}

.header-box {
    display: flex;
    width: 1200px;
    height: 72px;
    /* border: 1px solid blue; */
    margin: auto;
    text-align: center;
    justify-content: space-between;
    position: relative;
}

@media (max-width:576px) {
    .header-box {
        display: block;
        width: 100%;
        text-align: center;
        /* border: none; */
        margin: auto;
        background: var(--Light-a, #FCFAFA);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
        height: 146px;
    }

    .headerrow {
        background: #FCFAFA;
        /* box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10); */
        height: 146px;
    }


}




.logo-text {
    display: flex;
    align-items: center;
    width: 112px;
    line-height: 100%;
    /* border: 1px solid black; */
}

@media (max-width:576px) {
    .logo-text {
        height: 72px;
    }
}


.logo {
    height: 36px;
}

.header-text {
    color: #8F887C;
    font-size: 29px;
    font-weight: 700;
    margin-left: 10px;
    font-family: "Josefin Sans";
    margin-top: 0px;
    margin-bottom: 0px;
}

.pagination {
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

@media (max-width:576px) {
    .pagination {
        display: flex;
        /* width: 320px; */
        /* border: 1px solid black; */
        justify-content: center;
        text-align: center;
        margin: auto;
        /* margin-top:40px; */

    }
}


.table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

@media (max-width: 576px) {
    .table {
        display: flex;
        margin-top: 2px;
        background: #FCFAFA;
        height: 74px;
        border-top: 2px solid #EBE9E6;
    }
}

.pageNo {
    border: 2px solid #E0DFDA;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;
    margin-left: 16px;
    line-height: 26px;
}

.previous {
    display: none;
}

.dotespace {
    display: none;
}


@media(max-width: 576px) {
    .dotespace {
        /* border: 2px solid #E0DFDA; */
        width: 10px;
        height: 30px;
        display: flex;
        border: none;

    }

    .pageNo {
        margin-left: 26px;
    }

    .pointer {
        height: 30px;
        width: 30px;
        background: #4C4B49;
        color: #EBE9E6;
        border: 1px solid #4C4B49;
        line-height: 28px;

    }

    .previous {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 0px
    }


    .des-only {
        display: none;
    }

    .number {
        display: none;
    }

}


.submit-button{
    border: 2px solid #F4D150;
    border-radius: 4px;
    padding: 16px 35px;
    width: 130px;
    text-align: centers;
    text-decoration: none;
    color: #1F1E1C;
    background-color: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    font-family: Inter;
    font-size: 18px;
    margin-top: 5px;
    display: flex;
}





.arrow-logo {
    width: 31px;
    height: 31px;
    margin-left: 16px;
}

.arrow-logo1 {
    margin-left: 16px;
    width: 31px;
    height: 31px;
}

.content-box {
    display: flex;
    width: 1200px;
    margin: auto;
    margin-bottom: 136px;
    /* border: 1px solid black; */
}

@media (max-width: 576px) {
    .content-box {
        display: block;
        width: 320px;
        margin: auto;
        margin-bottom: 259px;
        position: relative;

    }


    .arrow-logo {
        margin-left: 0px;
        display: none;
    }

    .arrow-logo1 {
        margin-left: 26px;
    }
}

.questions {
    width: 560px;
    /* height: 284px; */
    margin-top: 30px;
    margin-left: 50px;
}

@media (max-width: 576px) {
    .questions {
        display: block;
        width: 100%;
        /* border: 2px solid blue; */
        margin: auto;
        position: relative;
    }

    .submit-button-div {
        position: fixed;
        bottom: 20px;
        right: 8px;
        margin-left: 0;
        width: auto;
        z-index: 2;
    }
}


.question-content {
    padding: 40px;
    background: #F9F7F2;
    border-radius: 12px;
    /* border: 1px solid black; */
}

@media (max-width: 576px) {
    .question-content {
        /* width: 320px; */
        /* border: 2px solid blue; */
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        margin: auto;

    }


}

.question {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
}


.options {
    margin-top: 28px;
}

.circle {
    width: 20px;
    height: 20px;
}

.circles {
    width: 20px;
    height: 20px;
}

.question-box {
    display: flex;
    margin-top: 12px;
}

.option {
    margin-left: 16px;
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
}

.option-text {
    margin-left: 16px;
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
}

.question-num {
    height: 20px;
    display: flex;
    justify-content: space-between;
    /* font-size: 16px; */
    font-style: normal;
    margin-bottom: 16px;
    margin-top: 40px;
}

@media (max-width: 576px) {
    .question-num {
        width: 315px;
        /* border: 2px solid blue; */
        margin: auto;
        margin-top: 40px;
        margin-bottom: 16px;
    }
}

.num {
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.score-num {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 150%; */
}

.filter {
    width: 284px;
    height: 375px;
    border: 1px dashed #777671;
    background: #F9F7F2;
    border-radius: 12px;
    margin-top: 153px;
}

.filter-div {
    /* border: 1px solid black; */
    padding: 36px;
    position: relative;


}
.mob-filter{
    display: none;
}





.filter-heading {
    /* border: 1px solid black; */
    color: #4C4B49;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-score {
    /* border: 1px solid black; */
    height: 19px;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    margin-top: 35px;
}

.box {
    display: flex;
    margin-top: 16px;
    /* border: 1px solid black; */
    height: 42px;
}


.filter-all {
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    font-size: 14px;
    color: #F9F7F2;
    background: #4C4B49;
    border-radius: 4px;
}

.filter-marks {
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 4px;
    border: #F4D150;
    background: #FEEEB4;
}

.q-attempt {
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    /* border: 1px solid black; */
    margin-top: 48px;
}

.total-ques {
    margin-top: 16px;
    display: flex;
    /* border:1px solid black; */
    width: 206px;
    flex-wrap: wrap;
}


.attempt-all {
    display: flex;
    padding: 1px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: #4C4B49;
    background: #4C4B49;
    color: #F9F7F2;
    font-family: "Inria Sans";
    font-size: 14px;
}

.attempt {
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 14px;
    border-radius: 54px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
    margin-top: 6px;
}

.timer {
    display: flex;
    width: 152px;
    height: 152px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 50%;
    background: conic-gradient(#EBE9E6 0deg 300deg, #E68086 300deg 360deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.timer-inside {
    display: flex;
    width: 130px;
    height: 130px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #F9F7F2;
    box-shadow: inset 0px 6px 4px -1px rgba(0, 0, 0, 0.25);
}
.filter-text{
    display: none;
}


.timer-div {
    width: 154px;
    position: absolute;
    margin-left: 57px;
    top: 20px;
}

@media (max-width: 576px) {

    .timer-div {
        width: 150px;
        height: 150px;
        /* position: absolute; */
        margin-left: 0px;


    }
    .mob-timer{
        width: 170px;

    }

    .timer {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background: conic-gradient(#EBE9E6 0deg 160deg, #E68086 160deg 360deg);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        /* margin-top: 15px; */

    }

    .timer-inside {
        display: flex;
        width: 120px;
        height: 120px;
        padding: 0px 0.896px 0.237px 0.896px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #F9F7F2;
        box-shadow: inset 0px 6px 4px -1px rgba(0, 0, 0, 0.25);
    }

    .dot {
        color:  #E68086;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }



    .line {
        margin: auto;
        border-top: 3px solid #777671;
        margin-top: 3px;
    }

    .one {
        margin-top: 0px;
        width: 16px;
    }

    .two {
        width: 13px;
    }

    .three {
        width: 10px;
    }

    .filter-text {
        color: #4C4B49;
        font-family: "Inria Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-left: 12px;
        display: block;

    }

}

.dot {
    color: var(--Error, #E68086);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.tim {
    width: 74px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timeint,
.timestr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.hour {
    margin-right: 5px;
}

.sec {
    margin-left: 5px;
}

.time {
    color: #E68086;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .time {
        color: var(--Error, #E68086);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .hide {
        display: none;
    }
}

.min {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.minute {
    margin-right: 15px;
}

.timer-text {
    margin-top: 20px;
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}


.logo-pagination {
    display: flex;
    width: 996px;
    /* border:1px solid black; */
    /* height: 72px; */
    justify-content: space-between;
}

.timer-filter {
    display: block;
    width: 284px;
    height: 375px;
    height: auto;
    margin-left: 103px;

}

@media (max-width: 576px) {
    .timer-filter {
        display: flex;
        width: 100%;
        height: 181px;
        margin: auto;
        margin-top:20px;
        justify-content: space-between;
    }

    .mob-filter {
        display: flex;
        justify-content: space-between;
        width: 104px;
        height: 39px;
        border-radius: 6px;
        border: 2px solid  #E0DFDA;
        background: #FCFAFA;
        justify-content: center;
        align-items: center;
    }
    .mobile-filter{
        margin-top: 70px;
    }

    .filter-button {
        display: flex;
        text-decoration: none;
        justify-content: space-between;

    }


}

@media (max-width: 576px) {
    .logo-pagination {
        display: block;
        width: 100%;
        border-top: 1px solid #EBE9E6;
        background: var(--Light-a, #FCFAFA);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);

    }
}